<div class="container recipe-container">
  <%= form_for(@recipe) do |f| %>

    <%= f.text_field :title, class: 'form-control' %></br>
    <%= f.text_area :description, class: 'form-control' %></br>
    <%= f.submit 'Add Recipe', class: 'btn btn-primary' %>
  <% end %>
</div>
