<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">Figure Out</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'HOME', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RECIPES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LISTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MORE</a>
      </li>
    </ul>
  </div>
</nav>
